<div class="admin-title">
    <h2>Users</h2>
    <a href="/register">+ Add New</a>
</div>
<ul class="admin-elements">
    <% data.forEach(user => { %>
        <li>
            <span>
                <%= user.username %>
                <% if (user._id == userId) { %>
                <i style="color: gray;">(me)</i>
                <% } %>
            </span>
            <div class="admin-element-controls">
                <form action="/delete-user/<%= user._id %>?_method=DELETE" method="POST">
                    <input type="submit" value="Delete" class="btn-delete btn">
                </form>
            </div>
        </li>
        <% }) %>
</ul>