<div class="auther">
    <h1 class="auther__heading">Hi, I am Swilam.</h1>
    <p class="auther__body">Web [Developer & pentester]</p>
</div>
<img src="/img/hackerman.jpg" alt="person looking out through window" class="hacker-img" width="981" height="528">
<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>
    <ul class="article-ul">
        <% data.forEach(post => { %>
        <li>
            <a href="/post/<%= post._id %>">
                <span><%= post.title %></span>
                <span class="article-list__data"><%= post.createdAt.toDateString() %></span>
            </a>
        </li>
        <% }) %>
    </ul>
    <% if (nextPage !== null) { %>
        <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
    <% } %>
</section>